

.content h4 span{
    font-size: 15px;
    color: var(--white-color);
    font-weight: bold;
    
}




/*========================media querry ===========================*/
@media(max-width: 576px){

    .content{
        display: grid;
        max-width: 99%;
        margin-inline: auto;
    }
}