:root{
	--text-color: #050505;
    --body-color:  linear-gradient(to bottom right, #1abc9c, #2ecc71);
	--bg-color: #ebf5fc;
    --line-color:#ffc131;
	--dark-color: #000000;
    --green-color:#1abc9c;
    --darkGreen-color:#0a7560;
    --bg-green:#378B29;
    --white-color:#ffffff;
	--h1-font: 1.8rem;
    --h1-weight:bold;
	--h2-font: 2.9rem;
	--p-font: 1rem;
}

h1, h2, p{
    color: var(--text-color);
}

h5{
    font-size: 17px;
    font-weight:bold;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background: linear-gradient(45deg, #74D680, #378B29);*/
    height: 100vh;
    

    background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
    background-size: 600% 600%;

    animation: bgAnimatedGradient 15s infinite linear;
}

/* CSS transitions for the fade effect */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}



/* CSS transitions for SLIDE effect */
/* Initial state of the entering element */
.slide-in-left-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  /* State of the element at the end of entering */
  .slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1200ms ease-out, opacity 1200ms ease-out;
  }
  
  /* Initial state of the exiting element */
  .slide-in-left-exit {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* State of the element at the end of exiting */
  .slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1200ms ease-in, opacity 1200ms ease-in;
  }

@keyframes bgAnimatedGradient{
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}



.sideContent{
    background: var(--bg-color);
    height: 100vh;
    overflow:auto;
    scrollbar-width: none;
}





/*-----------------------vertical timeline -----------------------*/



.vertical-timeline-element--education h4 {
    font-size: 15px;
    color: var(--white-color);
    font-weight: bold;
}

.vertical-timeline-element--education h4 span{
    text-transform: uppercase;
}

.vertical-timeline-element--education p {
    font-style: italic;  
    color: var(--white-color);
}

.vertical-timeline-element--education .vertical-timeline-element-content {
    background: var(--darkGreen-color); /* Change to the desired background color */
}

.vertical-timeline-element-content-arrow{
    border-right: 7px solid var(--darkGreen-color);
    
}

.vertical-timeline-element-date{
    margin-left: 10px;
    color: var(--darkGreen-color);
    
}

.vertical-timeline-element-date{
    margin-right: 10px;
}




@media(max-width: 576px){
    body{ 
        background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
    }

    .vertical-timeline-element-date{
        color: var(--white-color);
        background-color: none;
        margin-left: 0px;
    }
    
    
}

@media(min-width: 577px) and (max-width: 1168px){
    body{ 
        background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
    }

    .vertical-timeline-element-date{
        color: var(--white-color);
        background-color: none;
        margin-left: 0px;
    }
}